.likepopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.likepopup__container {
    border-radius: 20px;
    position: absolute;
    padding: 20px 30px;
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
}

.likepopup__container .favoritens__close {
    position: absolute;
    top: 16px;
    right: 16px;
}

.like-section {
    display: flex;
}
.like-section i{
    cursor: pointer;
}
.like-section h1 {
    margin-top: 3px;
}
.image-icon svg{
    font-size: 50px;
}
.text-part h1{
    text-align: center;
}
.like-button{
    margin: 40px;
}
.like-button a{
    padding: 15px;
    font-size: 17px;
    border-radius: 20px;
    border:3px solid #EFEDEA;
    text-decoration: none;
    color: black;
}