.nav-p {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.nav-p:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.side-icon {
    display: flex;
    justify-content: space-evenly;
}

.svg-p svg {
    margin: 0px 20px;
    font-size: 35px;
}

.side-icon i {
    margin: 0px 20px;
    font-size: 35px;
}

.header-p img {
    width: 100%;
    height: 350px;
}

.punkte-navbar {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.punkte-navbar:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#alle {
    color: white;
    background-color: #000000;
    border-radius: 20px;
}

.punkte-navbar-item ul {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.punkte-navbar-item ul li {
    padding: 20px;
    list-style-type: none;
}

.punkte-navbar-item ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
}

.main-section-p {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;
}

.main-section-p .card {
    height: 260px;
    width: 25%;
    margin: 40px 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.card .card-title{
    padding: 10px;
}
.card .card-title h2{
    margin: 0px 10px 10px 10px;
    font-size: 25px;
}
.card .card-title p{
    max-width:250px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}
.main-section-p .side-section-p{
    width: 70%;
}
.main-section-p .card-button{
    cursor: pointer;
    background-color: #F36805;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 30px;
}
.main-section-p .card-icon{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.card-icon p{
    font-size: 15px;
}
.card-icon .right-arrow{
    font-size: 20px;
}
.side-section-p .title{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
}
.side-section-p .title select{
    width: 200px;
    border-radius: 10px;
}
.main-cards{
    display: flex;
    margin: auto;
}
.main-card{
    width:100%;
    margin: 20px 10px;
    border: 2px solid #EFEDEA;
    display: flex;
    border-radius: 20px;
}
.images-p img{
    padding: 20px;
}
.description{
    padding: 20px 0px;
    text-align: start;
}
.description h1{
    font-size: 18px;
}
.description p{
    padding: 6px 0px;
    font-size: 13px;
}
.description #text-number{
    color: red;
}
.main-cards-1{
    display: flex;
    justify-content: center;
    background-color: #5B3D58;
    padding: 20px;
    border-radius: 20px;
}
.main-card-1{
    width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
}
.main-cards-1 .second-text{
    padding: 20px 0px;
    width: 100%;
}
.second-text p{
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}